body{
background-color: rgb(35, 39, 44);
color: aliceblue;
font-family: 'Lato', sans-serif;
font-size: 20px;

}

#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
svg{
display: block;
margin: auto;
}

ul {
text-decoration-color: aliceblue;
background-color: rgb(53, 60, 72);
width: 580px;
padding: 10px;
margin: 5px auto 0px auto;
border-top: 2px solid #000;
border-bottom: 1px solid #000;
text-align: center;
}
li{
display: inline;
margin: 0px 3px;
}
a {
color: aliceblue;
text-decoration: none;
padding: 6px 18px 5px 18px;
border-radius: 10px;
}
a:hover, a.on{
color: #cc3333;
background-color: rgb(30, 37, 49);

}
#pic1{
    float: left;
    height: 232px;
    width: 256px;
    margin: 5px;
    opacity: 70%;
}
#pic2{
    float: right;
    height: 232px;
    width: 256px;
    margin: 5px;
    opacity: 70%;
}
#oline{
    margin-top: 10px;
width: 100%;
height: 2px;
background-color: #cc3333;

}
#content{
text-align: center;
width: 800px;
padding:10px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
font-size: 30px;

}

#footer{
    text-align: center;
    width: 100%;
background-color: #cc3333;
font-size: 16px;

}

    #ltext{
        text-align: center;
        text-decoration: wavy;
    }
    #introduction{
        float: left;
text-align: justify;
font-size: 16px;
}
#map{
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}
.normal{
    font-size: 16px;
    float: left;
}
.rightnormal{
    font-size: 16px;
    float: right;
    text-align: justify;
}
.fclass{
font-size: 16px;


}
.sendbutton{
    margin-top: 15px;
font-size: 16px;
background-color: #cc3333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.sendbutton:hover{
background-color: #ca1a1a ;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cc3333;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=mail], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cc3333;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.smsg{
    font-size: 24px;
    text-justify: auto;
}
.smicons{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fa {
    padding: 10px;
    font-size: 16px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .formsublink{
    margin-top: 15 px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .header1{
    font-size: 20px;
  }
  #pic4{
        float: left;
        height: 232px;
    width: 256px;
        margin: 5px;
        opacity: 70%;

  }

  #formbutton{
    background-color: #cc3333;
float: left;
color: aliceblue;
text-decoration: none;
padding: 3px;
font-size: 16px;
border-radius: 10px;
  }
  #formbutton:hover{
color: #cc3333;
background-color: rgb(30, 37, 49);
padding: 3 px;
  }
  #blogbutton{
    font-size: 16px;
  }